.input_special{
    outline: none;
    border: none;
    height: 40px;
    text-transform: capitalize;
    width: 180px;
    border-radius: 20px;
    padding: 0 15px;
    font-family: futura_2;
    transition: all 0.2s;
    box-shadow: var(--stock_b);
    &:focus{
        box-shadow: var(--hover_b);
    }
    &::placeholder{
        color: var(--gray);
    }
}
