@font-face {
  font-family: google;
  src: url(./res/Product\ Sans\ Bold.ttf);
}
#theme{
  cursor: pointer;
  height:40px;
  margin: 0 10px;
}
.container{
  transition: background-color 1s;
  background-color: var(--bg);
}
.weather {
  color: var(--white);
}
#logo {
  font-family: google;
  color: var(--white);
  font-size: 30px;
  margin: 0 10px;
}
#headS {
  transition: background-color 1s;
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  flex-wrap: wrap;
}
#search {
  width: 280px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg2);
  border-radius: 50px;
  padding: 0 20px;
}
#search img {
  height: 24px;
  margin: 3px;
}
#search input {
  font-weight: 500;
  color: var(--white);
  height: 44px;
  width: 150px;
  max-width: 700px;
  border-radius: 50px;
  outline: none;
  border: none;
  background-color: var(--bg2);
}
#sp {
  height: 30px;
  font-size: 20px;
  width: 2px;
  border-right: 1px solid var(--gray);
  margin: 0 10px;
}
#sp2 {
  height: 30px;
  font-size: 20px;
  width: 2px;
  border-right: 1px solid var(--gray);
  margin: 0 10px;
}
#lTeg {
  display: none;
  padding: 10px 20px;
  font-size: 30px;
  font-weight: 500;
  font-weight: 300;
  color: var(--gray);
}
#wImg,
.wImgs {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
}
.wImgs img,
#wImg img {
  height: 120px;
}
#deg {
  text-align: center;
  width: 180px;
  font-size: 100px;
  line-height: 100px;
}
#clearBtn,#searchBtn{
  cursor: pointer;
}
#degBtn {
  align-items: center;
  width: 50px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  line-height: 50px;
  font-size: 50px;
  margin: 0 20px 0 10px;
  color: var(--gray);
}
#cel,
#far {
  cursor: pointer;
}
.degActive {
  color: var(--deg);
}
#bInfo {
  display: flex;
  align-items: center;
}
#sInfo {
  padding-left: 10px;
  color: var(--gray);
  font-size: 30px;
}
#dInfo {
  display: flex;
  flex-direction: column;
  text-align: end;
}
#wTeg {
  font-size: 50px;
  line-height: 60px;
}
#date {
  color: var(--gray);
  font-size: 30px;
  line-height: 40px;
  text-transform: capitalize;
}
#date2{
  display: none;
}
.block {
  transition: background-color 0.5s;
  cursor: pointer;
  border-radius: 20px;
  height: 250px;
  width: 12.5%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--bg3);
}
.pelena {
  border-radius: 20px;
  z-index: 10;
  height: 250px;
  min-width: 12.5%;
  position: absolute;
}
.active {
  background-color: var(--bg2);
  border: 3px solid var(--yellow);
}
.activeSpan {
  color: var(--yellow);
  scale: 1.1;
  transition: all 1s;
}
.day,
.min-max,
.dayF {
  text-align: center;
  font-size: 30px;
  color: var(--white);
}
.dayF {
  display: none;
}
#hoursWeather {
  justify-content: space-between;
  display: flex;
}
#scroll {
  margin-top: 10px;
  overflow: hidden;
  background-color: var(--bg2);
  border-radius: 20px;
}
#digitalTime,
#tempText,
#speedText,
#tempHigh,
#degArr {
  color: var(--white);
  display: flex;
}
.arr {
  animation: arrow infinite 5s;
  overflow: hidden;
  min-width: 12.5%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes arrow {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-5deg);
  }

  75% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(0deg);
  }
}
.speedTxt,
.miniTemp {
  margin: 5px 0;
  min-width: 12.5%;
  height: 50px;
  text-align: center;
  font-size: 30px;
}
.miniWind {
  min-width: 50px;
  height: 200px;
  font-size: 30px;
  background-image: url(./res/up-arrow.png);
  background-repeat: no-repeat;
  background-position: center;
  transition: all 2s;
}
.high {
  min-width: 12.5%;
  height: 200px;
  background-color: var(--bg_yellow);
}
.block:hover {
  background-color: var(--bg2);
}
.h {
  position: relative;
  background-color: var(--bg2);
  border-bottom: 5px solid var(--yellow);
}
.miniWind:hover {
  scale: 1.5;
}
.miniTime {
  min-width: 12.5%;
  text-align: center;
  font-size: 30px;
  margin: 5px 0;
  cursor: pointer;
  transition: all 0.5s;
}
.miniTime:hover {
  scale: 1.1;
}
.windImg {
  height: 100px;
}
#btns {
  display: flex;
  align-items: center;
  color: var(--gray);
  font-size: 30px;
  padding-left: 20px;
}
#tempBtn,
#windBtn {
  line-height: 50px;
  cursor: pointer;
}
.activeBtn {
  border-bottom: 3px solid var(--yellow);
}
.topHide {
  transition: opacity 0.3s;
  opacity: 0;
}
.none {
  display: none;
}
#digitalTemp,
#digitalWind {
  animation: topHide 0.3s;
}
@keyframes topHide {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}
#info {
  display: flex;
  justify-content: space-between;
}

/* Additional Weather Image Styles */
.wImgs2 {
  display: none;
}

#gInfo {
  align-items: center;
  background-color: var(--bg2);
  border-radius: 20px;
  display: flex;
}
#date3{
  display: none;
}
@media  screen and (max-width:1202px) {
#date,#sInfo{
  font-size: 25px;
}
.day,.min-max{
  font-size: 20px;
}
.block{
  height: 220px;
}
.wImgs img,
#wImg img {
  height: 100px;
}
.miniTime,.miniTemp{
  font-size: 20px;
}
}
@media  screen and (max-width:994px) {
  .high {
    min-width: 12.5%;
    height: 100px;
    background-color: var(--bg_yellow);
  }
  .active {
    border: 2px solid var(--yellow);
    box-sizing: border-box;
  }
  #hoursWeather {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .block {
    transition: background-color 0.5s;
    cursor: pointer;
    border-radius: 20px;
    padding: 20px;
    background-color: var(--bg2);
    height: 50px;
    width: 100%;
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .pelena {
    height: 50px;
    border-radius: 20px;
    z-index: 10;
    position: absolute;
    width: 80%;
    text-align: start;
  }
  #btns {
    display: none;
  }
  #digitalWind {
    display: none;
  }
  #info {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .day {
    display: none;
  }
  .dayF {
    display: block;
    width: 100px;
  }
  #dInfo {
    display: none;
  }
  #bInfo {
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
  }
  #deg {
    width: 150px;
    margin: 0;
    font-size: 80px;
    line-height: 60px;
    margin: 0;
  }
  #degBtn {
    width: 60px;
    font-size: 40px;
    flex-direction: column;
    justify-content: start;
  }
  #sInfo {
    text-align: end;
    font-size: 20px;
    height: auto;
  }
  .wImgs img {
    height: 50px;
  }
  .wImgs {
    height: 50px;
    margin: 0 20px;
    width: 200px;
  }
  #wImg{
    height: 100px;
  }
  #wImg img{
    height: 100px;
  }
  #date2 {
    justify-content: space-between;
    display: flex;
    color: var(--gray);
    font-size: 30px;
    text-transform: capitalize;
    width: 100%;
    line-height: 50px;
    padding-bottom: 10px;
  }
  #scroll{
    margin-bottom: 10px;
  }
}  
@media  screen and (max-width:768px) {
  #deg {
    width: 90px;
    margin: 0;
    font-size: 60px;
    line-height: 60px;
  }
  #scroll{
    border-radius: 15px;
  }
  #wImg{
    height: 70px;
  }
  #wImg img{
    height: 70px;
  }
  #degBtn {
    width: 25px;
    font-size: 20px;
    flex-direction: column;
    justify-content: start;
  }
  .miniTemp {
    height: auto;
    font-size: 17px;
  }
  .wImgs2 {
    display: block;
    height: 50px;
  }
  .wImgs2 img {
    height: 50px;
  }
  .miniTime {
    min-width: 12.5%;
    text-align: center;
    font-size: 17px;
    cursor: pointer;
    transition: all 0.5s;
  }
  #info {
    justify-content: center;
    display: flex;
  }
  #headS {
    justify-content: center;
  }
  #bInfo {
    flex-wrap: wrap;
  }
  #sInfo {
    font-size: 15px;
    height: auto;
  }
  .weather {
    padding: 0;
  }
  #tempHigh {
    display: none;
  }
  #date2 {
    font-size: 25px;
  }
}
@media  screen and (max-width:574px) {
  #info img {
    height: 60px;
  }
  .wImgs img {
    height: 50px;
  }
  .miniTime,
  .block span,
  .miniTemp,
  .pelena {
    font-size: 15px;
  }
  .wImgs2 {
    height: 30px;
  }
  .min-max {
    min-width: 40px;
  }
  .wImgs2 img {
    height: 30px;
  }
  #deg {
    margin: 0;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 20px;
  }
  #degBtn {
    width: 25px;
    font-size: 20px;
    flex-direction: column;
    justify-content: start;
  }
  #sInfo {
    font-size: 15px;
  }
  #sp3 {
    display: none;
  }
}
@media  screen and (max-width:450px) {
  #date2{
    display: none;
  }
  .miniTime,
  .block span,
  .miniTemp,
  .pelena {
    font-size: 12px;
  }
  #scroll{
    border-radius: 20px;
    background-color: #ffffff00;
  }
  #gInfo{
    border-radius: 20px;
    background-color: #ffffff00;
  }
  #date3 {
    text-transform: capitalize;
    display: flex;
    color: var(--white);
    font-size: 20px;
    justify-content: center;
  }
  #bInfo{
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  #sInfo{
    text-align: center;
  }
  #gInfo{
    justify-content: center;
  }
}