#draggableElement {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
  border-radius: 30px;
  background-color: #6abad2;
  color: #ffffff;
  text-align: center;
  line-height: 100px;
  position: absolute;
  cursor: grab;
  user-select: none;
  transition: all 0.1s;
  z-index: 0;
}
.bg{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.back{
  border-radius: 30px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
