@font-face {
  font-family: google;
  src: url(./Product\ Sans\ Bold.ttf);
}
.weather{
  min-width: 1000px;
  /* display: none; */
  padding: 2vh;
  color: #d9dbdd;
  background-color: #202124;
}
#logo{
  font-family: google;
  color: #d9dbdd;
  font-size: 30px;
  margin: 0 10px;
}
header{
  border-top: 1px solid #9aa0a6;
}
#keyBtn,#voiceBtn,#searchBtn,#clearBtn,#lensBtn{
  cursor: pointer;
}
#headS{
  display: flex;
  background-color: #202124;
  padding: 3vh 1vw;
}
#search{
  width: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #303134;
  border-radius:50px;
  padding: 0 20px;
}
#search img{
  height: 24px;
  margin: 3px;
}
#search input{
  font-weight: 500;
  color: #d9dbdd;
  height: 44px;
  width: 700px;
  border-radius:50px;
  outline: none;
  border: none;
  background-color: #303134;
}
#sp{
  height: 30px;
  font-size: 20px;
  width: 2px;
  border-right: 1px solid #9aa0a6;
  margin: 0 10px;
}
#lTeg{
  margin: 1vh 1vw;
  font-size: 3vh;
  font-weight: 500;
  font-weight: 300; 
  color: #9aa0a6;
}
#wImg{
  height: 15vh;
  margin: 0 2vw;
}
.wImgs{
  height: 15vh;
  margin: 0 2vw;
  width: 20vh;
}
.wImgs img{
  height: 15vh;
}
#wImg img{
  height: 15vh;
}
#deg{
  font-size: 12vh;
  line-height: 12vh;
  margin: 0 0 2vw 0;
}
#degBtn{
  font-size: 5vh;
  margin:  0 2vw 0 1vh;
}
#bInfo{
  display: flex;
}
#sInfo{
  color: #9aa0a6;
  height: 15vh;
  font-size: 3vh;

}
#dInfo{
  height: 15vh;
  display: flex;
  flex-direction: column;
  text-align: end;
}
#wTeg{
  font-size: 5vh;
  line-height: 6vh;
}
#date{
  color: #9aa0a6;
  font-size: 3vh;
  line-height: 4vh;
}
.block{
  cursor: pointer;
  border-radius:20px; 
  height: 25vh; 
  width: 20vh;
  margin: 1vh 3vh; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.active{
  background-color: #303134;
}
.day,.min-max{
  text-align: center;
  font-size: 3vh;
  color: #d9dbdd;;
}
#hoursWeather{
  display: flex;
}