.j_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.block{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 1500px;
    border-radius: 20px;
    overflow: hidden;
}
.commit{
    height: 70px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: gray;
    text-align: center;
}
.b_d{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 2px 4px;
    /* border-bottom: 1px solid gray; */
}
input,select{
    height: 30px;
    padding-left: 10px;
    text-align: center;
    outline: 0px;
    border: 0px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    color: gray;
    font-family: 'Futura PT', sans-serif;
    background-color: white;
}
.bg_red{
    background-color: rgb(238, 138, 138);
}
.bg_green{
    background-color: rgb(151, 238, 138);
}

.Big{
    font-size: 30px;
}