.block{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    align-items: center;
    flex-direction: column;
    display: flex;
}
/* .container-fluid{
    background-color: rgb(52, 52, 52);
} */

.block_2{
    border-radius: 30px;
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px, rgb(31, 193, 27) 0px 0px 0px 6px, rgb(255, 217, 19) 0px 0px 0px 9px, rgb(255, 156, 85) 0px 0px 0px 12px, rgb(255, 85, 85) 0px 0px 0px 15px;
    align-items: center;
    flex-direction: column;
    display: flex;
}
.block{
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(255, 255, 255);
}
.f_between{
    display: flex;
    justify-content: start;
    align-items: center;
}
.d_flex{
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 100vh;
    flex-wrap: wrap;
}
input{
    width: 100px;
    text-align: center;
    outline: 0px;
    border: 0px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.style{
    display: flex;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#Random_1{
    width: 300px;
    height: 220px;
}
#Random_2{
    width: 350px;
    height: 100px;
}
#Random_3{
    width: 350px;
    height: 100px;
}
.style_2{
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
::placeholder{
    color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 0px;
    font-size: 15px;
    text-transform: capitalize;
}


