.button_special{
    padding: 0 30px;
    font-family: futura_3;
    text-transform: uppercase;
    width: 130px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    transition: all 0.2s;
    &:hover{
        color: var(--black);
        background-color: var(--yellow);
    }
}
.button_active{
}