.ContactItem{
    width: 24vw;
    position: relative;
    border-radius:  25px 0 0 25px;
    height: 30vw;
    background-color: var(--bl_sec_bg);
    box-shadow: var(--st_b_s);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    user-select: none;
    transition: all 0.6s ease;
    // animation: fixed 0.6s ease;
    .error{
        background-color: var(--bl_bg);
        white-space: nowrap;
        font-family: futura_3;
        position: absolute;
        // background-color: var(--bg);
        border-radius: 25px 0 0 25px;
        font-size: 1vw;
        padding:0 1vw;
        width: auto;
        color: var(--purp);
        text-transform: capitalize;
        text-align: end;
    }
    .e6{
        top: 35%;
        right: 0%;
    }
    .e5{
        top: 20%;
        right: 0%;
    }
    .e1{
        top: 55%;
        right: 0%;
    }
    .e2{
        top: 10%;
        right: 0%;
    }
    .e3{
        top: 65%;
        right: 0%;
    }
    .e4{
        top: 75%;
        right: 0%;
    }
    .avatar{
        opacity: 0;
        font-family: futura_4;
        position: absolute;
        top: 45%;
        right: 5%;
        background-color: var(--bg);
        border-radius: var(--st_b_r);
        font-size: 1vw;
        padding: 0 2vw;
        width: 60%;
        color: var(--st_f_c);
        text-transform: capitalize;
    }
    input[type="number"]{
        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
        }
    }
    .gender{
        position: relative;
        transition: all 0.6s ease;
        font-family: futura_3;
        font-size: 2vh;
        text-align: end;
        max-width: 20vw;
        background-color: var(--bl_bg);
        color: var(--bg);
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
    }
    input{
        user-select: none;
        padding-right: 0.5vw;
        transition: all 0.6s ease;
        outline: none;
        border: none;
    }
    select{
        user-select: none;
        padding-right: 0.5vw;
    }
    .upsp{
        position: absolute;
        white-space: nowrap;
        transition: width 0.6s ease;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 0 25px 25px 0;
        height: 8%;
        background-color: var(--bl_bg);
        top: 30%;
        width: 0;
        font-size: 1vw;
        font-family: futura_2;
        color: var(--bg);
    }
    .status{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        outline: none;
        border: none;
        text-transform: lowercase;
        text-align: center;
        width:35%;
        user-select: none;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        padding: 0 1vw;
        justify-content: end;
        font-family: futura_4;
        font-size: 1vw;
        height: 8%;
        border-radius: 0 0 0 25px;
        color: var(--bg);
        background-color: var(--bl_bg);
    }
    .name{
        font-family: futura_4;
        position: absolute;
        top: 13%;
        left: 5%;
        width: 50%;
        text-align: center;
        background-color: var(--bg);
        border-radius: var(--st_b_r);
        font-size: 1vw;
        color: var(--st_f_c);
        text-transform: capitalize;
    }
    .email{
        margin-left: 1vw;
        max-width: 10vw;
        text-align: end;
        color: var(--bg);
        background-color: var(--bl_bg);
        font-family: futura_2;
        font-size: 1vw;
        color: var(--sec_f_c);
    }
    .phone{
        z-index: 10;
        max-width: 7vw;
        text-align: end;
        color: var(--bg);
        background-color: var(--bl_bg);
        font-family: futura_3;
        font-size: 1vw;
    }
    .info{
        transition: all 0.6s ease;
        overflow: hidden;
        background-color: var(--bl_bg);
        border-radius: 25px 0 0 0;
        height: 13%;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        padding-top: 1vh;
        flex-direction: column;
        justify-content: start;
        align-items: end;
    }
    .btns{
        transition: all 0.6s ease;
        user-select: none;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 30%;
        bottom: 5vh;
    }
    svg{
        transition: all 0.6s ease;
        fill: var(--st_f_c);
        height: 2vh;
        width: 2vh;
    }
    .b{
        transition: all 0.6s ease;
        user-select: none;
        cursor: pointer;
        transition: all 0.6s;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 2vw;
        width: 2vw;
        border-radius: 0 100% 100% 0;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur( 10px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        scale: 1.1;
        &:hover{
            scale: 1.2;
        }
    }
    .pelena{
        position: absolute;
        height: 100%;
        width: 100%;
        border-radius: var(--st_b_r);
        z-index: 10;
        left: 0;
        background: rgba(0, 0, 0, 0.2);
        // box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur( 10px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
}
@keyframes fixed{
    0%{
        width: 100%;
        height: 100%;
        position: absolute;
    }
    100%{
        margin: 2vh 0 0 2vh;
        width: 24vw;
        position: absolute;
        height: 30vw;
    }
}
.update{
    .email{
        color: var(--bg);
    }
    .upsp{
        margin: 0;
        overflow: hidden;
        width: 50%;
    }
    .info{
        height: 18%;
    }
    .avatar{
        opacity: 100;
    }
    .gender{
        opacity: 100;
        height: auto;
        font-family: futura_3;
        font-size: 1vw;
        text-align: end;
        max-width: 20vw;
        bottom: 0;
        background-color: var(--bl_bg);
        color: var(--bg);
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
    }
}
.none{
    display: none;
}
.updating{
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease;
    animation: updating 0.6s ease;
    .status{
        user-select: none;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        padding: 0 1vw;
        justify-content: end;
        font-family: futura_4;
        text-transform: capitalize;
        font-size: 2vw;
        height: 10%;
        width: 20%;
        border-radius: 0 25px 0 25px;
        color: var(--bg);
        background-color: var(--bl_bg);
    }
    .name{
        font-family: futura_4;
        position: absolute;
        background-color: var(--bg);
        border-radius: var(--st_b_r);
        font-size: 2vw;
        max-width: 50%;
        color: var(--st_f_c);
        text-transform: capitalize;
    }
    .avatar{
        font-family: futura_4;
        position: absolute;
        top: 50%;
        right: 5%;
        background-color: var(--bg);
        border-radius: var(--st_b_r);
        font-size: 1vw;
        padding: 0.8vw 2vw;
        width: 60%;
        color: var(--st_f_c);
        text-transform: capitalize;
    }
    .gender{
        height: auto;
        font-family: futura_3;
        font-size: 2vw;
        text-align: end;
        max-width: 20vw;
        background-color: var(--bl_bg);
        color: var(--bg);
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
    }
    .email{
        font-family: futura_2;
        font-size: 2vw;
        color: var(--sec_f_c);
        max-width: 20vw;
    }
    .phone{
        height: auto;
        font-family: futura_3;
        font-size: 3vw;
        max-width: 20vw;
    }
    .info{
        background-color: var(--bl_bg);
        border-radius: 25px 0 0 0;
        height: 30%;
        width: 40%;
        position: absolute;
        bottom: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: end;
    }
    .btns{
        user-select: none;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        height: 50%;
        bottom: 5vh;
    }
    svg{
        fill: var(--st_f_c);
        width: 60%;
        height: 60%;
    }
    .b{
        user-select: none;
        cursor: pointer;
        transition: all 0.6s;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 4vw;
        width: 4vw;
        border-radius: 0 100% 100% 0;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
        backdrop-filter: blur( 10px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        scale: 1.1;
        &:hover{
            scale: 1.2;
        }
    }
}
.none{
    display: none;
}
@keyframes updating {
    0%{
        top: 0;
        left: 50%;
        translate: (-50%);
        margin: 2vh 0 0 2vh;
        width: 24vw;
        position: absolute;
        height: 30vw;
    }
    100%{
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
    }
}