.ContactItem{
    margin-bottom: 10px;
    background-color: var(--bg);
    border-radius: 20px;
    z-index: 10;
    .avatar{
        width: 180px;
        height: 180px;
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border: 3px solid var(--gray);
    }
    .tag{
        user-select: none;
        align-items: center;
        display: flex;
        justify-content: center;
        font-family: futura_2;
        font-size: 12px;
        color: var(--black);
        text-transform: uppercase;
        width: 100px;
        height: 20px;
        border-radius: 20px;
    }
    svg{
        cursor: pointer;
        transition: all 0.2s;
        scale: 2;
        fill: var(--black);
        &:hover{
            fill: var(--blue);
        }
    }
    .star{
        &:hover{
            fill: var(--yellow);
        }
    }
    .trash{
        &:hover{
            fill: var(--red);
        }
    }
    .favorite{
            fill: var(--yellow);
    }
    .buttons{
        display: flex;
        align-items: end;
        justify-content: space-around;
        flex-direction: column;
    }
}
