#type_buttons_cotact_list{
    height: 7vh;
    background-color: var(--white);
    display: flex;
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    &::-webkit-scrollbar {
        position: fixed;
        height: 10px;
      }
      &::-webkit-scrollbar-track {
        background: var(--white);
      }
      &::-webkit-scrollbar-thumb {
        background-color: var(--red);
        border-radius: 20px;
        border: 2px solid var(--white)
      }
    min-height: 60px;
    z-index: 100;
    .b_and_d{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 20px;
        .digit{
            color: var(--black);
            user-select: none;
            cursor: default;
            border-radius: 20px;
            margin-left: 20px;
            height: 30px;
            width: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}
