.newContact{
    position: absolute;
    top: 10%;
    background-color: var(--bg);
    border-radius: 20px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    .label{
        flex-direction: column;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        select{
            height: 40px;
            text-align: center;
            width: 200px;
            font-family: futura_2;
            text-transform: capitalize;
            background-color: var(--white);
            color: var(--black);
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 20px;
            outline: none;
            border: none;
            option{
                color: var(--black);
            }
        }
        input{
            color: var(--black);
            text-align: center;
            outline: none;
            border: none;
            height: 40px;
            text-transform: capitalize;
            width: 200px;
            border-radius: 20px;
            padding: 0 15px;
            font-family: futura_2;
            transition: all 0.2s;
            background-color: var(--white);
            &::placeholder{
                color: var(--gray);
            }
        }
        .phone{
            color: var(--black);
            text-align: center;
            outline: none;
            border: none;
            height: 40px;
            text-transform: capitalize;
            width: 200px;
            border-radius: 20px;
            padding: 0 15px;
            font-family: futura_2;
            transition: all 0.2s;
            &::-webkit-inner-spin-button,
            &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
            -moz-appearance: textfield;
            &::placeholder{
                color: var(--gray);
            }
        }
    }
    .sp{
        background-color: var(--white);
        border-radius: 20px 0px 0px 20px;
        height: 40px;
        width: 150px;
        text-align: center;
        line-height: 40px;
        color: var(--black);
    }
    input[type="number"]{
        text-align: start;
        width: 50px;
        color: var(--yellow);
        text-align: center;
        outline: none;
        border: none;
        height: 40px;
        padding: 0;
        text-transform: capitalize;
        border-radius: 0px 20px 20px 0px;
        font-family: futura_2;
        transition: all 0.2s;
        line-height: 40px;    
        text-indent: 5px;
        background-color: var(--white);
        &::placeholder{
            color: var(--gray);
        }
    }
    .check{
        width: 100%;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        appearance: none;
        -webkit-appearance: none;
        display: flex;
        align-content: center;
        justify-content: center;
        transition: all 0.2s;
        border: 2px solid var(--white);
        border-radius: 20px;
        &::before {
            content: '';
            color: var(--black);
            display: flex;
            align-content: center;
            justify-content: center;
            font-family: futura_2;
            line-height: 26px;
            height: 40px;
        }
        &:checked {
            border: 10px solid var(--yellow);
        }
      }
      
}