#error{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 90%;
    font-family: futura_4;
    #back{
        cursor: pointer;
        text-decoration: none;
        text-align: center;
        text-transform: uppercase;
        width: 100%;
        display: inline-block;
        transition: all 0.2s;
        color: var(--red);
        user-select: none;
        &:hover{
            color: var(--yellow);
        }
    }
    h1{
        cursor: default;
        color: var(--black);
        text-align: center;
        margin-top: 20px;
        animation: colorSwitch 3s linear infinite;
    }
    img{
        width: 300px;
        animation: scroll 10s linear infinite;
        margin-bottom: 10px;
    }
    @keyframes scroll {
        0%{
            transform: rotate(0deg)
        }
        100%{
            transform: rotate(360deg)
        }
    }
}