.select_special{
    padding: 0 30px;
    font-family: futura_3;
    text-transform: uppercase;
    box-shadow: var(--stock_b);
    width: 130px;
    height: 30px;
    padding-right: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 20px;
    outline: none;
    border: none;
    color: var(--black);
    option{
        color: var(--black);
    }
}