#header{
    border-radius: 45px;
    background-color: var(--bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1320px;
    padding: 10px;
    margin-top: 10px;
    padding-left: 20px;
    .center{
        display: flex;
        align-items: center;
    }
    #nav_add_new{
        display: block;
        height: 15px;
        line-height: 15px;
        &:hover{
            color: var(--yellow);
        }
        svg{
            height: 15px;
        }
        &:hover svg{
            fill: var(--yellow);
        }
    }
    #nav_contact_list{
        display: block;
        line-height: 30px;
        height: 30px;
        font-size: 30px;
        &:hover{
            color: var(--yellow);
        }
    }
}
