#type_buttons_cotact_list{
    padding: 2vh 1vw;
    width: 20.5vw;
    background-color: var(--bl_bg);
    border-radius: var(--st_b_r);
    height: 78vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 1vw;
    left: 0;
    top: 20vh;
    user-select: none;
    .pelena{
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 100;
    }
    input{
      outline: none;
      border: none;
      background-color: var(--sec_bl_bg);
      color: var(--bg);
      font-family: futura_3;
      font-size: inherit;
      text-transform: uppercase;
      border-bottom: 2px solid var(--sec_f_c);
      &::placeholder{
        color: var(--sec_f_c);
      }
    }
    button{
      background-color: var(--bl_bg);
      font-family: futura_3;
      text-transform: uppercase;
      text-align: start;
      height: 30px;
      outline: none;
      border: none;
      transition: all 0.2s;
      &:hover{
          color: var(--bg);
      }
      &:disabled{
        &:hover{
          color: var(--sec_f_c);
      }
      }
  }
    .b_and_d{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1vh 1vw;
      .digit{
        margin-right: 1vw;
          box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(255, 255, 255) 0px 0px 0px 2px inset;
          color: var(--bg);
          user-select: none;
          cursor: default;
          border-radius: 20px;
          height: 30px;
          width: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
      }
    }
    svg{
      transition: all 0.2s;
      fill: var(--sec_f_c);
      &:hover{
        fill:var(--bg);
      }
    }
    .active{
      color: var(--bg);
    }
    .inActive{
      color: var(--sec_f_c);
    }
}
